body {
  min-width: auto;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-width: auto;
  min-height: 100vh;
}

#song {
  margin: 5px;
  height: 100px;
  width: 100px;
  background-color: "blue";
  background: url('../assets/images/ec_1.jpg') center / cover;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
